<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="./oowp/tests/bootstrap.php"
        >
    <testsuites>
        <testsuite name="OOWPTestSuite">
            <directory>oowp/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
